.button-primary {
  border-radius: 8px;

  height: 24px;
  background-color: map-get($primary, "400");

  & span {
    font-weight: 700;
    color: map-get($secondary, "main");
    font-size: 12px;
  }

  & span:hover {
    background-color: transparent;
  }
  &:hover span {
    color: white;
  }

  @include desktop {
    height: 40px;

    & span {
      font-size: 1rem;
    }
  }
}
.button-default {
  border-radius: 16px;
  height: 40px;
  border: 2px solid map-get($secondary, "main");
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 1.2s;

  & span {
    font-weight: 700;
    color: map-get($secondary, "main");
    transition-property: color;
    transition-duration: 1.2s;
  }
  &:hover {
    background-color: map-get($secondary, "main");

    & span {
      color: white;
    }
  }
}
