.footer {
  display: flex;
  flex-direction: column;
  height: 150px;
  margin-top: 56px;

  .divider {
    width: 100%;
    border: 1px solid map-get($primary, "main");
    height: 1px;
  }
  // ***** contenedor de logo, ubicacion****
  .container {
    height: 100%;
    display: grid;
    grid-template-columns: 60% 40%;

    .container-logo {
      padding: 0 16px;
      color: white;
      height: 100%;
      display: flex;
      justify-content: start;

      flex-direction: column;

      h1 {
        color: map-get($primary, "main");
        text-transform: capitalize;
        margin-bottom: 0;

        span {
          color: white;
        }
      }
      p {
        margin: 0;
        font-size: 12px;
      }
      .location {
        margin-top: 16px;
      }
    }
    // **** contenedor de contacto
    .container-contact {
      text-align: center;
      color: white;
      height: 100%;
      display: flex;
      justify-content: center;

      flex-direction: column;

      .social {
        display: flex;
        gap: 16px;
        font-size: 1.5rem;
        justify-content: center;

        .link {
          text-decoration: none;
          list-style: none;
          color: map-get($primary, "main");
        }
      }
    }
  }

  @include tablet {
    height: 200px;

    .container {
      grid-template-columns: 50% 50%;
      align-items: center;

      .container-logo {
        h1 {
          font-size: 3rem;
        }
        p {
          font-size: 1rem;
        }
      }
      .container-contact .social {
        font-size: 2.3rem;
      }
    }
  }
}
