.home-containercards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  justify-content: space-around;
  align-items: center;
  gap: 16px;
  margin: 0;
  margin-top: 2rem;
  padding: 0 16px;
  @include tablet {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
  @include desktop {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    padding: 0 32px;
  }
}

.home-modal {
  background-color: rgba(map-get($secondary, "main"), 0.8);
}

.container-message-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  color: map-get($primary, "main");
  height: 50vh;
}
