.modal-movie-detail {
  display: flex;
  height: 60vh;
  min-width: 50vw;
  max-width: 80vw;
  position: relative;
  overflow-y: auto;
  box-sizing: border-box;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  //**** contenedor de informacion ****
  .subcontainer {
    position: absolute;
    padding: 8px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      0deg,
      map-get($secondary, "main") 0%,
      map-get($secondary, "dark") 15%,
      rgba(map-get($secondary, "300"), 0.3) 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    color: white;

    //contenedor a
    .container-a {
      max-height: 60%;
      overflow-y: auto;

      h2 {
        font-size: 1.5rem;
        margin: 0;
        color: map-get($primary, "main");
        text-shadow: 2px 2px 3px map-get($secondary, "main");
      }
      .summary {
        text-align: justify;
        font-size: 12px;
      }
    }
    // contenedor b
    .container-b {
      .label {
        color: map-get($secondary, "600");
      }
      .data {
        color: white;
        font-weight: 600;
      }

      .adult {
        border: 2px solid map-get($primary, "main");
        padding: 2px;
        font-size: 1rem;
        margin-right: 4px;
      }

      .more-info-a {
        display: none;
      }
    }
  }
  @include tablet {
    min-width: 60vw;

    .subcontainer {
      .container-a {
        max-height: 55%;
        overflow-y: auto;
        h2 {
          font-size: 2.5rem;
        }
        .summary {
          font-size: 1rem;
        }
      }

      .container-b {
        max-height: 45%;
        overflow-y: auto;
        .more-info-a {
          display: block;
        }
      }
    }
  }
  @include desktop {
    height: 80vh;
    min-width: 60vw;
    img {
      width: 70%;
    }
    .subcontainer {
      background: linear-gradient(
        299deg,
        map-get($secondary, "main") 0%,
        map-get($secondary, "dark") 45%,
        rgba(map-get($secondary, "ligth"), 0.1) 100%
      );

      .container-a {
        align-self: flex-end;
        width: 60%;
        min-height: 40%;
        padding-right: 16px;
        .summary {
          font-size: 16px;
        }
      }

      .container-b {
        min-height: 40%;
        display: grid;
        grid-template-columns: 30% 40%;
        gap: 16px;
        place-content: flex-end;

        .more-info-a {
          order: 1;
        }
      }
    }
  }
}
