$primary: (
  "main": #dd6609,
  "ligth": #fef1e6,
  "dark": #4a2203,
  "100": #fcd4b5,
  "200": #fab884,
  "300": #f89c53,
  "400": #f67f22,
  "500": #dd6609,
  "600": #ac4f07,
  "700": #7b3905,
);
$secondary: (
  "main": #161823,
  "ligth": #eff0f5,
  "dark": #1e202f,
  "100": #d0d3e1,
  "200": #b1b5ce,
  "300": #9198ba,
  "400": #727aa6,
  "500": #59618d,
  "600": #59618d,
  "700": #31364e,
);
// images

// queries
@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin flex-center(
  $flex-direction: row,
  $justify-content: center,
  $align-items: center
) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $justify-content;
  justify-content: $align-items;
}
